<a href="https://colab.research.google.com/github/Ronith7/Ml-model/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import zipfile

In [2]:
!wget https://s3-ap-southeast-1.amazonaws.com/he-public-data/datasetb2d9982.zip

--2023-04-21 09:17:45--  https://s3-ap-southeast-1.amazonaws.com/he-public-data/datasetb2d9982.zip
Resolving s3-ap-southeast-1.amazonaws.com (s3-ap-southeast-1.amazonaws.com)... 52.219.128.254
Connecting to s3-ap-southeast-1.amazonaws.com (s3-ap-southeast-1.amazonaws.com)|52.219.128.254|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 895569552 (854M) [binary/octet-stream]
Saving to: ‘datasetb2d9982.zip’

datasetb2d9982.zip  100%[===================>] 854.08M  14.6MB/s    in 62s

2023-04-21 09:18:47 (13.9 MB/s) - ‘datasetb2d9982.zip’ saved [895569552/895569552]

In [3]:
zip_ex=zipfile.ZipFile("datasetb2d9982.zip","r")
zip_ex.extractall()
zip_ex.close()

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

data=pd.read_csv('//content/dataset/train.csv')

X = data.drop(["PRODUCT_LENGTH","TITLE","BULLET_POINTS"], axis=1,inplace=False) # Features
# Target variable
y=data["PRODUCT_LENGTH"]

In [5]:
X.head()

,PRODUCT_ID,DESCRIPTION,PRODUCT_TYPE_ID
0,1925202,NaN,1650
1,2673191,NaN,2755
2,2765088,"Specifications: Color: Red, Material: Aluminiu...",7537
3,1594019,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996
4,283658,NaN,6112

In [6]:
X.fillna('',inplace=True)

In [7]:
X.isnull().sum()

PRODUCT_ID         0
DESCRIPTION        0
PRODUCT_TYPE_ID    0
dtype: int64

In [8]:
ass=X[(X["DESCRIPTION"]=='')].index

In [9]:
X.drop(ass,inplace=True)

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(stop_words='english')

In [11]:
tfidf_vector=tfidf.fit_transform(X["DESCRIPTION"])

In [12]:
print(tfidf_vector)

  (0, 457020)	0.21943986636537396
  (0, 171224)	0.08505568926699217
  (0, 264944)	0.14934140127909015
  (0, 105304)	0.0854530836271063
  (0, 273515)	0.07853306178438799
  (0, 367333)	0.06133703502566797
  (0, 28867)	0.18332549571381634
  (0, 130782)	0.10197246618989282
  (0, 492907)	0.11893822969271173
  (0, 115210)	0.09983349492513593
  (0, 472328)	0.23229640462043497
  (0, 201461)	0.21159385263086966
  (0, 480669)	0.07628710255598042
  (0, 441335)	0.10877793987040989
  (0, 13854)	0.2233019558197462
  (0, 364435)	0.11623412753016932
  (0, 370650)	0.10097718406548278
  (0, 429155)	0.10619266994525528
  (0, 98907)	0.10745788546037567
  (0, 141878)	0.07961064405618642
  (0, 447824)	0.08059916421944437
  (0, 258190)	0.09763441283972375
  (0, 392755)	0.24381589599558884
  (0, 108870)	0.10297879355187822
  (0, 13687)	0.14406279202279645
  :	:
  (1092315, 325153)	0.15697361375787355
  (1092315, 500673)	0.19970162307877093
  (1092315, 433753)	0.11451489508108946
  (1092315, 393087)	0.12569003394204128
  (1092315, 165835)	0.08822563879752128
  (1092315, 200737)	0.09170943884795249
  (1092315, 321818)	0.07195130578460827
  (1092315, 395964)	0.057620096310084204
  (1092315, 206334)	0.12707482869297987
  (1092315, 246706)	0.08564898981884835
  (1092315, 263823)	0.07654570037752965
  (1092315, 358489)	0.09638307814906322
  (1092315, 313880)	0.10847188208821738
  (1092315, 390861)	0.17662213925084783
  (1092315, 190735)	0.07469394636493036
  (1092315, 130782)	0.12760230571110723
  (1092316, 151614)	0.4447270524001956
  (1092316, 151615)	0.4447270524001956
  (1092316, 435910)	0.37775303755791717
  (1092316, 381637)	0.3229313645587923
  (1092316, 171566)	0.4706313940889861
  (1092316, 455272)	0.2378222765535548
  (1092316, 309448)	0.19080555194517795
  (1092316, 295424)	0.15779193599798608
  (1092316, 144147)	0.13451868301643533

In [13]:
y.head()

0    2125.980000
1     393.700000
2     748.031495
3     787.401574
4     598.424000
Name: PRODUCT_LENGTH, dtype: float64

In [14]:
tfidf_vector.shape

(1092317, 536363)

In [15]:
dg=data.drop(["TITLE","BULLET_POINTS"], axis=1,inplace=False)

In [16]:
dg.head()

,PRODUCT_ID,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,NaN,1650,2125.980000
1,2673191,NaN,2755,393.700000
2,2765088,"Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,NaN,6112,598.424000

In [17]:
dg.fillna('',inplace=True)

In [18]:
zx=dg[(dg['DESCRIPTION']=='')].index

In [19]:
dg.drop(zx,inplace=True)

In [20]:
yy=dg["PRODUCT_LENGTH"]

In [25]:
yy

2           748.031495
3           787.401574
5           950.000000
7           984.251967
9           393.700787
              ...
2249688     598.424000
2249689    1200.000000
2249694     125.984252
2249695    1200.000000
2249697    2000.000000
Name: PRODUCT_LENGTH, Length: 1092317, dtype: float64

In [24]:
tfidf_vector.shape

(1092317, 536363)

In [27]:
from sklearn.linear_model import LogisticRegression
clf = LinearRegression()
clf.fit(tfidf_vector, yy)
print("LinearRegression")

LinearRegression

In [28]:
testdata=pd.read_csv("/content/dataset/test.csv")

In [29]:
testdata.head()

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID
0,604373,Manuel d'Héliogravure Et de Photogravure En Re...,NaN,NaN,6142
1,1729783,DCGARING Microfiber Throw Blanket Warm Fuzzy P...,[QUALITY GUARANTEED: Luxury cozy plush polyest...,<b>DCGARING Throw Blanket</b><br><br> <b>Size ...,1622
2,1871949,I-Match Auto Parts Front License Plate Bracket...,"[Front License Plate Bracket Made Of Plastic,D...",Replacement for The Following Vehicles:2020 LE...,7540
3,1107571,PinMart Gold Plated Excellence in Service 1 Ye...,[Available as a single item or bulk packed. Se...,Our Excellence in Service Lapel Pins feature a...,12442
4,624253,"Visual Mathematics, Illustrated by the TI-92 a...",NaN,NaN,6318

In [30]:
testdata.fillna('',inplace=True)

In [31]:
xtest = testdata.drop(["TITLE","BULLET_POINTS"], axis=1,inplace=False)

In [32]:
testass=xtest[(xtest["DESCRIPTION"]=='')].index

In [34]:
xtest.drop(testass,inplace=True)

In [38]:
tfidf_vector2=tfidf.fit_transform(xtest["DESCRIPTION"])

In [36]:
xtest.shape

(354735, 3)

In [41]:
yy.head()

2    748.031495
3    787.401574
5    950.000000
7    984.251967
9    393.700787
Name: PRODUCT_LENGTH, dtype: float64

In [42]:
# Make predictions on the test set
y_pred = clf.predict(tfidf_vector)

In [47]:
mae = mean_absolute_error(yy, y_pred)
print(mae)

18693.328235373298

In [49]:
print(r2_score(yy,y_pred))

0.9861585062253737

In [55]:
from sklearn.metrics import mean_absolute_percentage_error
print(mean_absolute_percentage_error(yy,y_pred))

74.907125292329

In [ ]:
from sklearn.metrics import accuracy_score
# Evaluate the model using various metrics
accuracy = accuracy_score(yy,y_pred)

# Print the evaluation metrics
print("Accuracy:", accuracy)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(yy,y_pred)*100)

# improvised model

In [57]:
!git clone https://github.com/Ronith7/Ml-model.git

Cloning into 'Ml-model'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), 590 bytes | 590.00 KiB/s, done.

In [59]:
!git init

Reinitialized existing Git repository in /content/.git/

In [61]:
!git add .

warning: adding embedded git repository: Ml-model
hint: You've added another git repository inside your current repository.
hint: Clones of the outer repository will not contain the contents of
hint: the embedded repository and will not know how to obtain it.
hint: If you meant to add a submodule, use:
hint:
hint: 	git submodule add <url> Ml-model
hint:
hint: If you added this path by mistake, you can remove it from the
hint: index with:
hint:
hint: 	git rm --cached Ml-model
hint:
hint: See "git help submodule" for more information.

In [63]:
!git commit -m "Add existing project files to Git"

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@14273b478839.(none)')

In [71]:
!git config --global user.email "ron99.rm@gmail.com"

In [73]:

!git config --global user.name "Ronith7"

In [77]:
!git pull origin main

fatal: 'origin' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.